<html ng-app="app">
  <head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>

<script src="app.js"></script>
  </head>
  <body>
    <div id=global>
    </div>

    <some-directive></some-directive>
    <some-directive></some-directive>
    <some-directive></some-directive>
    <some-directive></some-directive>

    <compose-email></compose-email>
    <div ng-controller="MainCtrl as main">

      <p id='date-filter'>
      <!--{{ filter_expression | filter : expression : comparator }}-->
        Today's date: {{ main.timeNow | date:'MM-dd-yyyy' }}
      </p>

      <pre id='json-filter'>
      {{ main.jsonObj | json | toLowercase }}
      </pre>

      <p>{{ main.someValue }} (using handlebars {})</p>
      <!--We would use ng-bind when we don't want to see any flicker whilst Angular
       is loading and parsing data. Angular automatically shields any content that's dynamically created
       with Directives or inside a dynamic view (ng-view). If your bindings are outside of these, we might see {{ and }} text in the document-->
      <p ng-bind="main.someValue" > (using ng-bind)</p>
      <br>
      <!-- after rendering an expression (what is inside the {{}} handlebar)
      those values are automatically bound inside Angular, so update dynamically -->
      {{ main.items.length }} in stock, showing at most 3 at a time
      <ul>
      <!-- any data we reference from controller sits under the main variable (our instance) -->
      <!-- orderBy name first! then limitTo -->
        <li ng-repeat="item in main.items | orderBy:'name' | limitTo:3 "  ng-click="main.removeFromStock(item, $index)">
          {{ item.name | toLowercase }} , {{ item.id }}
        </li>
      </ul>
      <!-- passing a plain JavaScript Object into Angular for evaluation -->
      <input type="text" ng-model="main.message">
      <a href="" ng-click="main.showMessage(main.message);">Show my message</a>
      <br>
      {{ main.message}} (What is being typed)
      <br>
      {{ main.resultMessage }} (after show my message clicked)

      <br>
      <a ng-href="{{ main.someValue }}">Go (ng-href)</a>
      <br>
      <img ng-src="{{ main.anotherValue}}" alt="">

      <div ng-if="main.userExists">
        Please log in (ng-if)
      </div>

      <div ng-switch on="main.user.access">
        <div ng-switch-when="admin">
          <!-- code for admins -->
        </div>
        <div ng-switch-when="user">
          <!-- code for users -->
        </div>
        <div ng-switch-when="author">
          <!-- code for authors -->
        </div>
      </div>

        <a href="" ng-click="showMenu = !showMenu">Toggle menu!</a>
        <ul ng-show="showMenu">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>



        <div class="notification" ng-class="{
            warning: main.response == 'error',
            ok: main.response == 'success'
        }">
            {{ main.responseMsg }}
        </div>

        <!-- when we want to use routing, the content sits in ng-view div -->
        <!-- Cross origin request: might need to use a server like live-server -->
        <!--<div ng-view></div>-->

  </body>
</html>
